//periodic-vue colors
$periodic-bg-color: #FF5577;

//element groups
$eg-nonmetal: #ffff8d;
$eg-noble-gas: #82b1ff;
$eg-alkali-metal: #ff80ab;
$eg-alkaline-earth-metal: #ff9e80;
$eg-metalloid: #ccff90;
$eg-halogen: #ff8a80;
$eg-metal: #4dd0e1;
$eg-transition-metal: #cfd8dc;
$eg-lanthanoid: #b388ff;
$eg-actinoid: #b9f6ca;
$eg-post-transition-metal: #bcaaa4;
